[submodule "third_party/AKO4ALL"]
	path = third_party/AKO4ALL
	url = https://github.com/KuangjuX/AKO4ALL.git
	update = none
[submodule "third_party/ptx-isa-markdown"]
	path = third_party/ptx-isa-markdown
	url = git@github.com:KuangjuX/ptx-isa-markdown.git
	update = none
[submodule "third_party/kernel-adapter"]
	path = third_party/kernel-adapter
	url = git@github.com:KuangjuX/kernel-adapter.git
